body {
    overflow: hidden;
}

.fundo {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 500vh;
    background-image: url(../assets/images/indexB2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: subirImagem 4s ease-in-out forwards;
}

@keyframes subirImagem {
    0% {
        transform: translateY(-400vh);
    }
    100% {
        transform: translateY(0);
    }
}



.logo{
    animation: sumir 3s forwards;
    animation-delay: 4s;
}

@keyframes sumir {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
    
.border-form{
    opacity: 0;
    animation: aparecerForm 3s forwards;
    animation-delay: 7s
}

.form{
    opacity: 0;
    animation: aparecerForm 3s forwards;
    animation-delay: 7s
}

@keyframes aparecerForm{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
