body {
    overflow: hidden;
}

.fundo {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 500vh;
    background-image: url(../assets/images/indexB2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: subirImagem 4s ease-in-out forwards;
}

@keyframes subirImagem {
    0% {
        transform: translateY(-400vh);
    }
    100% {
        transform: translateY(0);
    }
}

.content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo{
    animation: sumir 3s forwards;
    animation-delay: 4s;
}

@keyframes sumir {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.border-form {
    position: absolute;
    width: 320px;  
    height: 220px;
    background-color: var(--orangeBrown);
    border: 2px solid var(--darkBrown);
    z-index: 0; 
    opacity: 0;
    animation: aparecerForm 3s forwards;
    animation-delay: 7s
}

.formLogin{
    background-color: var(--lightBrown); 
    border: 2px solid var(--darkBrown);
    box-shadow: inset -4px 4px 0px 0px var(--shadowBrown);
    width: 300px;
    height: 200px;
    position: absolute;
    padding: 20px;
    z-index: 1;
    opacity: 0;
    display: flex;
    align-items: center;
    animation: aparecerForm 3s forwards;
    animation-delay: 7s
}

@keyframes aparecerForm{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.info-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.formLogin label{
    font-family: 'stardewText';
    color: var(--darkBrown);
    font-size: large;
}   

form{
    width: 100%;
}

.formLogin .user, .formLogin .pass{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.formLogin #user, .formLogin #pass{
    background-color: transparent;
    outline: none;
    height: 25px;
    border: var(--darkBrown) 2px solid;
    box-shadow: -2px 2px 0px  var(--shadowBrown);
    font-family: 'stardewText'; 
    padding-left: 4px;
}

.formLogin .buttons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.formLogin .buttons #reset, .formLogin .buttons #submit{
    background-color: var(--lighestBrown);
    font-family: 'stardewText';
    font-weight: 500;
    padding: 2px;
    border: var(--darkBrown) 2px solid;
    height: 25px;
    font-size: large;
    outline: none;
}

.formLogin .buttons #submit{
    color: var(--green);
}

.formLogin .buttons #reset{
    color: var(--red);
}
