@font-face {
    font-family: 'stardewText';
    src: url("../assets/fonts/StardewValley.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --beige: #FDCCA4;
    --lighestBrown: #FED891;
    --lightBrown: #FDC878;
    --darkBrown: #642722;
    --orangeBrown:#EF8D13;
    --shadowBrown: #C9945F;
    --green: #126D0E;
    --red: #B52121;
    --transition: all .5s ease-in-out;
}

/* Menu lateral das páginas */

.menu{
    width: 15%;
    background-color: var(--lighestBrown);
    border-right: 2px solid var(--darkBrown);
    box-shadow: inset -4px 4px 0px 0px var(--shadowBrown);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 998;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu ul a{
    text-decoration: none;
    color: var(--darkBrown);
    font-family: 'stardewText';
    font-size: larger;
    display: inline-block;
    transition: var(--transition);
}

.menu ul a:hover{
    color: var(--orangeBrown);
    transform: scale(1.1);
}

.menu ul .icon{
    width: 3rem;
    margin: auto;
    padding-bottom: 10px;
}

.border-menu{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 16%;
    z-index: 997;
    background-color: var(--orangeBrown);
    border-right: 2px solid var(--darkBrown);
}

.exit-button{
    position:fixed;
    z-index: 999;
    top: 20px;
    left: 20px;
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    opacity: 0;
}

.exit{
    position:fixed;
    top: 20px;
    left: 20px;
    width: 2rem;
    height: 2rem;
    z-index: 999;
    object-fit: contain;
    border: 2px solid var(--darkBrown);
}

.content-menu{
    position: absolute;
    left: 0;
    transition: var(--transition);
}

.exit-button:checked ~ .content-menu.sumir{
    left: -16%;
}

/* Formulários */

.content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.border-form {
    position: absolute;
    width: 320px;  
    height: 220px;
    background-color: var(--orangeBrown);
    border: 2px solid var(--darkBrown);
    z-index: 0; 
}

.form{
    background-color: var(--lightBrown); 
    border: 2px solid var(--darkBrown);
    box-shadow: inset -4px 4px 0px 0px var(--shadowBrown);
    width: 300px;
    height: 200px;
    position: absolute;
    padding: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.info-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'stardewText';
}

.info-user span{
    color: var(--darkBrown);
    font-size: larger;
}

.form label{
    color: var(--darkBrown);
    font-size: large;
}   

form{
    width: 100%;
}

.form .user, .form .pass, .form .username, .form .type{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.form #user, .form #pass, .form #username, .form #type{
    background-color: transparent;
    outline: none;
    height: 25px;
    border: var(--darkBrown) 2px solid;
    box-shadow: -2px 2px 0px  var(--shadowBrown);
    font-family: 'stardewText'; 
    padding-left: 4px;
}

.form .buttons{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.form .buttons #reset, .form .buttons #submit{
    background-color: var(--lighestBrown);
    font-family: 'stardewText';
    font-weight: 500;
    padding: 2px;
    border: var(--darkBrown) 2px solid;
    height: 25px;
    font-size: large;
    outline: none;
}

.form .buttons #submit{
    color: var(--green);
}

.form .buttons #reset{
    color: var(--red);
}
